<div style="padding: 20px; font-size: 14px;">
    <h3>View Employee Details</h3>
  <div style="margin-bottom: 8px;">
    <label><b>First Name:</b></label> {{ employee.firstName }}
  </div>
  <div style="margin-bottom: 8px;">
    <label><b>Last Name:</b></label> {{ employee.lastName }}
  </div>
  <div style="margin-bottom: 8px;">
    <label><b>Password:</b></label> {{ employee.password }}
  </div>
  <div style="margin-bottom: 8px;">
    <label><b>Email Id:</b></label> {{ employee.emailId }}
  </div>
</div>
